# Домашнє завдання № 2

## Частина друга: Аналіз файлів

In [233]:
import matplotlib.pyplot as plt
import pandas as pd

#### 2.1. Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

In [234]:
df = pd.read_csv("2017_jun_final.csv")

#### 2.2. Прочитайте отриману таблицю, використовуючи метод head

In [235]:
print(df.head())

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

#### 1.3. Визначте розмір таблиці за допомогою методу shape

In [236]:
print(df.shape)

(8704, 25)

#### 1.4. Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [237]:
print(df.dtypes)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

#### 1.5. Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [238]:
# проаналізуємо весь df на предмет відсутніх даних в комірках
nan_value = df.isnull()
print(nan_value)

          N  Должность  Язык.программирования  Специализация  \
0     False      False                   True          False
1     False      False                   True          False
2     False      False                  False           True
3     False      False                  False           True
4     False      False                  False           True
...     ...        ...                    ...            ...
8699  False      False                   True          False
8700  False      False                   True           True
8701  False      False                  False           True
8702  False      False                   True           True
8703  False      False                  False           True

      Общий.опыт.работы  Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                 False                         False             False
1                 False                         False             False
2                 False                         False             False
3                 False                         False             False
4                 False                         False             False
...                 ...                           ...               ...
8699              False                         False             False
8700              False                         False             False
8701              False                         False             False
8702              False                         False             False
8703              False                         False             False

      Изменение.зарплаты.за.12.месяцев  Город  Размер.компании  ...  \
0                                False  False            False  ...
1                                False  False            False  ...
2                                False  False            False  ...
3                                False  False            False  ...
4                                False  False            False  ...
...                                ...    ...              ...  ...
8699                             False  False            False  ...
8700                             False  False            False  ...
8701                             False  False            False  ...
8702                             False  False            False  ...
8703                             False  False            False  ...

      Еще.студент  Уровень.английского  Предметная.область  Дата.заполнения  \
0           False                False               False            False
1           False                False               False            False
2           False                False               False            False
3           False                False               False            False
4           False                False               False            False
...           ...                  ...                 ...              ...
8699        False                False               False            False
8700        False                False               False            False
8701        False                False               False            False
8702        False                False               False            False
8703        False                False               False            False

      User.Agent    exp  current_job_exp  salary  Валюта    cls
0          False  False            False   False    True  False
1          False  False            False   False    True  False
2          False  False            False   False    True  False
3          False  False            False   False    True  False
4          False  False            False   False    True  False
...          ...    ...              ...     ...     ...    ...
8699       False  False            False   False    True  False
8700       False  False            False   False    True   True
8701       False  False            False   False    True  False
8702       False  False            False   False    True  False
8703       False  False            False   False    True  False

[8704 rows x 25 columns]

In [239]:
# підрахуємо кількість порожніх комірок по всьому df
count_nan = nan_value.sum()
print(count_nan)

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

#### 1.6. Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [240]:
df.drop(df[['Специализация', 'Университет', 'Предметная.область', 'Валюта', 'cls']], axis=1, inplace=True)
# важливо: строка вище повертає None, тому не можна перепризначати df, тобто df = df.drop... 
print(df)

         N                 Должность Язык.программирования Общий.опыт.работы  \
0        1        Junior QA engineer                   NaN               0.5
1        2        Junior QA engineer                   NaN  меньше 3 месяцев
2        3         Software Engineer               C#/.NET                 4
3        4         Software Engineer            JavaScript                 5
4        5  Senior Software Engineer            JavaScript    10 и более лет
...    ...                       ...                   ...               ...
8699  8700               QA engineer                   NaN                 1
8700  8701                 Marketing                   NaN               0.5
8701  8702  Junior Software Engineer            Ruby/Rails                 1
8702  8703                 Team lead                   NaN                 6
8703  8704  Senior Software Engineer                  Java                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                             0.5               400
1                меньше 3 месяцев               430
2                               1              2500
3                               4              2000
4                             0.5              4500
...                           ...               ...
8699             меньше 3 месяцев               700
8700                          0.5               400
8701                          0.5               800
8702                            4              2600
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  \
0                                    0  Харьков       до 10 человек
1                                  130  Харьков  свыше 1000 человек
2                                  800     Киев     до 1000 человек
3                                  400   Одесса      до 200 человек
4                                  500   Другой       до 10 человек
...                                ...      ...                 ...
8699                               700   Одесса       до 50 человек
8700                               120     Киев       до 50 человек
8701                               500    Львов       до 10 человек
8702                                 0    Днепр  свыше 1000 человек
8703                               800   Одесса     до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
0      Аутсорсинговая  женский       20  Незаконченное высшее         True
1      Аутсорсинговая  женский       21  Незаконченное высшее         True
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
...               ...      ...      ...                   ...          ...
8699   Аутсорсинговая  мужской       23                Высшее        False
8700      Продуктовая  женский       22                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8702   Аутсорсинговая  мужской       34                Высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
0          ниже среднего  12/06/2017 12:38:08
1          выше среднего  12/06/2017 12:42:51
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
...                  ...                  ...
8699             средний  12/07/2017 15:45:24
8700       ниже среднего  12/07/2017 17:00:06
8701       выше среднего  12/07/2017 17:32:26
8702         продвинутый  12/07/2017 18:14:59
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
...                                                 ...   ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
0                 0.5     400
1                 0.0     430
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
...               ...     ...
8699              0.0     700
8700              0.5     400
8701              0.5     800
8702              4.0    2600
8703              2.0    5000

[8704 rows x 20 columns]

#### 1.7. Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [241]:
# проаналізуємо весь df на предмет відсутніх даних в комірках
nan_value = df.isnull()
# підрахуємо кількість порожніх комірок по всьому df
count_nan = nan_value.sum()
print(count_nan)

N                                      0
Должность                              0
Язык.программирования               3850
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

#### 1.9. Видаліть усі NaN рядки у вихідній таблиці за допомогою методу dropna

In [242]:
df = df.dropna()
print(df)

         N                 Должность Язык.программирования Общий.опыт.работы  \
2        3         Software Engineer               C#/.NET                 4
3        4         Software Engineer            JavaScript                 5
4        5  Senior Software Engineer            JavaScript    10 и более лет
6        7  Junior Software Engineer               C#/.NET                 1
7        8  Senior Software Engineer                   C++                 6
...    ...                       ...                   ...               ...
8692  8693         Software Engineer                  Java                 5
8694  8695  Junior Software Engineer               C#/.NET                 1
8695  8696         Software Engineer                Python                 1
8701  8702  Junior Software Engineer            Ruby/Rails                 1
8703  8704  Senior Software Engineer                  Java                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
2                               1              2500
3                               4              2000
4                             0.5              4500
6                меньше 3 месяцев               600
7                               1              3300
...                           ...               ...
8692                            1              3500
8694                            1               550
8695                          0.5              1500
8701                          0.5               800
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев        Город  Размер.компании  \
2                                  800         Киев  до 1000 человек
3                                  400       Одесса   до 200 человек
4                                  500       Другой    до 10 человек
6                                  100  Хмельницкий    до 50 человек
7                                  500         Киев    до 10 человек
...                                ...          ...              ...
8692                               650     Удаленно   до 200 человек
8694                               550      Харьков   до 200 человек
8695                              1000         Киев    до 10 человек
8701                               500        Львов    до 10 человек
8703                               800       Одесса  до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
6      Аутсорсинговая  мужской       23                Высшее        False
7         Продуктовая  мужской       28                Высшее        False
...               ...      ...      ...                   ...          ...
8692   Аутсорсинговая  женский       28                Высшее        False
8694   Аутсорсинговая  мужской       23                Высшее        False
8695          Стартап  мужской       29                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
6          ниже среднего  12/06/2017 13:04:26
7          выше среднего  12/06/2017 13:04:27
...                  ...                  ...
8692             средний  12/07/2017 13:26:49
8694       ниже среднего  12/07/2017 14:14:33
8695             средний  12/07/2017 14:39:21
8701       выше среднего  12/07/2017 17:32:26
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0
...                                                 ...   ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
6                 0.0     600
7                 1.0    3300
...               ...     ...
8692              1.0    3500
8694              1.0     550
8695              0.5    1500
8701              0.5     800
8703              2.0    5000

[4854 rows x 20 columns]

#### 1.10. Визначте новий розмір таблиці за допомогою методу shape

In [243]:
print(df.shape)

(4854, 20)

#### 1.11. Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [244]:
python_data = df.loc[df['Язык.программирования'] != ""][['Должность', 'Язык.программирования']]
print(python_data)

                     Должность Язык.программирования
2            Software Engineer               C#/.NET
3            Software Engineer            JavaScript
4     Senior Software Engineer            JavaScript
6     Junior Software Engineer               C#/.NET
7     Senior Software Engineer                   C++
...                        ...                   ...
8692         Software Engineer                  Java
8694  Junior Software Engineer               C#/.NET
8695         Software Engineer                Python
8701  Junior Software Engineer            Ruby/Rails
8703  Senior Software Engineer                  Java

[4854 rows x 2 columns]

#### 1.12. Визначте розмір таблиці python_data за допомогою методу shape

In [245]:
print(df.shape)

(4854, 20)

#### 1.13. Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [246]:
print(df.groupby('Должность').apply(list))

Должность
Data Scientist / Data Analyst    [N, Должность, Язык.программирования, Общий.оп...
DevOps                           [N, Должность, Язык.программирования, Общий.оп...
ERP / CRM                        [N, Должность, Язык.программирования, Общий.оп...
HTML coder                       [N, Должность, Язык.программирования, Общий.оп...
Junior Software Engineer         [N, Должность, Язык.программирования, Общий.оп...
Product Manager                  [N, Должность, Язык.программирования, Общий.оп...
Senior Software Engineer         [N, Должность, Язык.программирования, Общий.оп...
Software Engineer                [N, Должность, Язык.программирования, Общий.оп...
System Architect                 [N, Должность, Язык.программирования, Общий.оп...
Team lead                        [N, Должность, Язык.программирования, Общий.оп...
Technical Lead                   [N, Должность, Язык.программирования, Общий.оп...
dtype: object

#### 1.14. Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [247]:
df_new = df.groupby('Должность')['Зарплата.в.месяц'].agg(['min', 'max'])
print(df_new)

                                min    max
Должность
Data Scientist / Data Analyst  2700   2700
DevOps                         7000   7000
ERP / CRM                      2000   2000
HTML coder                      385    600
Junior Software Engineer         75   2600
Product Manager                3000   3000
Senior Software Engineer        350   9200
Software Engineer               100   7000
System Architect                400  10000
Team lead                      2500   4000
Technical Lead                  500  18000

#### 1.15. Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [275]:
# функцію побудовано за даним принципом:
# fill_avg_salary__ = df.groupby('Должность')['Зарплата.в.месяц'].agg(['mean'])
# print(fill_avg_salary__)
# print(fill_avg_salary__.at['DevOps', 'mean'])

In [280]:
# додамо порожній стовпчик "avg"
df['avg'] = ""

# функція для повертання середніх значень 
def fill_avg_salary(row):
    salary = df.groupby('Должность')['Зарплата.в.месяц'].agg(['mean']) 
    return salary.at[row, 'mean']

# заповнимо стовпчик "avg" середніми значеннями зарплат
df['avg'] = df['Должность'].apply(fill_avg_salary)
print(df[['Должность', 'Зарплата.в.месяц', 'avg']])

                     Должность  Зарплата.в.месяц          avg
2            Software Engineer              2500  1678.630074
3            Software Engineer              2000  1678.630074
4     Senior Software Engineer              4500  3243.200926
6     Junior Software Engineer               600   605.658594
7     Senior Software Engineer              3300  3243.200926
...                        ...               ...          ...
8692         Software Engineer              3500  1678.630074
8694  Junior Software Engineer               550   605.658594
8695         Software Engineer              1500  1678.630074
8701  Junior Software Engineer               800   605.658594
8703  Senior Software Engineer              5000  3243.200926

[4854 rows x 3 columns]

#### 1.16. Створіть описову статистику за допомогою методу describe для нового стовпчика (avg)

In [284]:
describe_table = df['avg'].describe()
print(describe_table)

count    4854.000000
mean     1883.371034
std      1056.802546
min       457.000000
25%       605.658594
50%      1678.630074
75%      3243.200926
max      7000.000000
Name: avg, dtype: float64

#### 1.17. Збережіть отриману таблицю в CSV файл

In [286]:
describe_table.to_csv("describe.csv", index=True)